@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
//   --background: #ffffff;
//   --foreground: #171717;
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

// body {
//   color: var(--foreground);
//   background: var(--background);
//   font-family: Arial, Helvetica, sans-serif;
// }

// @layer utilities {
//   .text-balance {
//     text-wrap: balance;
//   }
// }


body {
  @apply font-primary text-base leading-6 text-gray-light; 
}

h1 {
  @apply font-bold text-5xl leading-[61px]
}

h2 {
  @apply font-bold text-[40px] leading-[48px]
}

h3{
   @apply font-semibold text-[32px] 
}

h4 {
  @apply font-semibold text-[28px]
}

h5 {
  @apply font-semibold text-2xl
}

h6 {
  @apply font-semibold text-xl
}


.paragraph-1 {
  @apply text-2xl
}

.paragraph-2 {
  @apply text-xl
}

.edgecase {
  @apply text-sm  
}

.shadow1 {
  box-shadow: 0px 58px 16px 0px rgba(17, 17, 17, 0.00), 0px 37px 15px 0px rgba(17, 17, 17, 0.01), 0px 21px 13px 0px rgba(17, 17, 17, 0.02), 0px 9px 9px 0px rgba(17, 17, 17, 0.03), 0px 2px 5px 0px rgba(17, 17, 17, 0.04);
}

.shadow2 {
  box-shadow: 0px 149px 42px 0px rgba(0, 0, 0, 0.00), 0px 95px 38px 0px rgba(0, 0, 0, 0.01), 0px 54px 32px 0px rgba(0, 0, 0, 0.02), 0px 24px 24px 0px rgba(0, 0, 0, 0.03), 0px 6px 13px 0px rgba(0, 0, 0, 0.04);
}

.shadow3 {
  box-shadow: 0px 200px 56px 0px rgba(0, 0, 0, 0.00), 0px 128px 51px 0px rgba(0, 0, 0, 0.00), 0px 72px 43px 0px rgba(0, 0, 0, 0.01), 0px 32px 32px 0px rgba(0, 0, 0, 0.02), 0px 8px 18px 0px rgba(0, 0, 0, 0.02);
}