@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  @apply font-primary text-base leading-6; 
}

h1 {
  @apply font-bold text-5xl
}

h2 {
  @apply font-semibold text-[32px]
}

h3 {
  @apply font-semibold text-2xl
}

h4 {
  @apply font-semibold text-xl
}

.paragraph-1 {
  @apply text-2xl
}

.paragraph-2 {
  @apply text-xl
}

.edgecase {
  @apply text-sm  
}